@import './styles/fonts';
@import './styles/vars';

* {
	box-sizing: border-box;
}

/*
================================================
* Angular Material 2
================================================
*/
//imports all the main angular material assets and predefined theming variables
@import '../node_modules/@angular/material/core/theming/all-theme';

/*Include the base styles for Angular Material core. We include this here so that you only
have to load a single css file for Angular Material in your app.*/
@include mat-core();

/*Define the palettes for your theme using the Material Design palettes available in palette.scss
(imported above). For each palette, you can optionally specify a default, lighter, and darker
hue.*/

$primary: mat-palette($mat-light-blue, 100);
$accent: mat-palette($mat-green, A100);

/*The warn palette is optional (defaults to red).*/

$warn: mat-palette($mat-red, 200);

/*Create the theme object (a Sass map containing all of the palettes).*/

$theme: mat-light-theme($primary, $accent, $warn);

/*Include theme styles for core and each component used in your app.
Alternatively, you can import and @include the theme mixins for each component
that you are using.*/
@include angular-material-theme($theme);

/*
---------------------------------------------
* End Angular Material 2
---------------------------------------------
*/

/*
==========================================================================
* Reset browser default:
* CSS so cross browser styling is more predictable
==========================================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	font-family   : Lato, Arial;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

li,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

label {
	height: 100%;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	-moz-box-shadow   : 0 0 0 1000px white inset;
	box-shadow        : 0 0 0 1000px white inset;
}

html {
	position  : relative;
	overflow-y: scroll;
}

the-island .md-input-element,
the-island .md-input-placeholder,
the-island .md-input-underline {
	color       : white;
	border-color: white;
}

button.zoom-out span.md-button-wrapper {
	font-size     : 20px;
	vertical-align: top;
	line-height   : 100%;
	display       : block;
}

/*
--------------------------------------------------------------------------
* End Reset browser default
--------------------------------------------------------------------------
*/
