// ================================== Mixins ===================================
@import 'mixins/position';
@import 'mixins/vendor-prefix';
@import 'mixins/absolute-width';

// ============================== Color Palette ================================

$color-white            : #fff;
$color-primary          : #B3E5FC;
$color-accent           : #B7E8CA;
$color-warn             : #EF9A9A;
$color-emphasis         : #C6C3FF;
$color-highlight        : #FFF8D5;
$color-disabled         : #c7c7c8;
$color-black            : #000;
$color-modal-filter : rgba(0, 0, 0, .25);

/* ================================================================================================================== */
/*                                                       Fonts                                                        */
/* ================================================================================================================== */

/* ------------------------------------------------------ Thin ------------------------------------------------------ */
/* ------------------------------------------------------ 100 ------------------------------------------------------- */
$font-thin              : Lato-Thin;
$font-thin-italic       : Lato-ThinItalic;
$font-100               : $font-thin;
$font-100-italic        : $font-thin-italic;

/* -------------------------------------------------- Extra Light --------------------------------------------------- */
/* ------------------------------------------------------ 200 ------------------------------------------------------- */
$font-extra-light       : Lato-ExtraLight;
$font-extra-light-italic: Lato-ExtraLightItalic;
$font-200               : $font-extra-light;
$font-200-italic        : $font-extra-light-italic;

/* ----------------------------------------------------- Light ------------------------------------------------------ */
/* ------------------------------------------------------ 300 ------------------------------------------------------- */
$font-light             : Lato-Light;
$font-light-italic      : Lato-LightItalic;
$font-300               : $font-light;
$font-300-italic        : $font-light-italic;

/* ---------------------------------------------------- Regular ----------------------------------------------------- */
/* ------------------------------------------------------ 400 ------------------------------------------------------- */
$font-regular           : Lato-Regular;
$font-regular-italic    : Lato-Italic;
$font-400               : $font-regular;
$font-400-italic        : $font-regular-italic;

/* ----------------------------------------------------- Medium ----------------------------------------------------- */
/* ------------------------------------------------------ 500 ------------------------------------------------------- */
$font-medium            : Lato-Medium;
$font-medium-italic     : Lato-MediumItalic;
$font-500               : $font-medium;
$font-500-italic        : $font-medium-italic;

/* --------------------------------------------------- Semi-Bold ---------------------------------------------------- */
/* ------------------------------------------------------ 600 ------------------------------------------------------- */
$font-semi-bold         : Lato-SemiBold;
$font-semi-bold-italic  : Lato-SemiBoldItalic;
$font-600               : $font-semi-bold;
$font-600-italic        : $font-semi-bold-italic;

/* ------------------------------------------------------ Bold ------------------------------------------------------ */
/* ------------------------------------------------------ 700 ------------------------------------------------------- */
$font-bold              : Lato-Bold;
$font-bold-italic       : Lato-BoldItalic;
$font-700               : $font-bold;
$font-700-italic        : $font-bold-italic;

/* --------------------------------------------------- Extra-Bold --------------------------------------------------- */
/* ------------------------------------------------------ 800 ------------------------------------------------------- */
$font-extra-bold        : Lato-ExtraBold;
$font-extra-bold-italic : Lato-ExtraBoldItalic;
$font-800               : $font-extra-bold;
$font-800-italic        : $font-extra-bold-italic;

/* ----------------------------------------------------- Black ------------------------------------------------------ */
/* ------------------------------------------------------ 900 ------------------------------------------------------- */
$font-black             : Lato-Black;
$font-black-italic      : Lato-BlackItalic;
$font-900               : $font-black;
$font-900-italic        : $font-black-italic;

// ============================== Measurments ==================================
$one-third              : calc(100% / 3);
$two-thirds             : calc(100% / 3 * 2);

// ================================== Misc =====================================
$ipad                   : 'only screen and (min-width: 768px)';
$desktop                : 'only screen and (min-width: 998px)';
