<!-- <md-input-container>
	<input mdInput placeholder="Volume Consumed (mL)" type="number" [(ngModel)]="feeding.oral.volume">
</md-input-container> -->
<md-select placeholder="Volume Consumed (mL)" [(ngModel)]="feeding.oral.volume">
	<md-option *ngFor="let ml of mls" [value]="ml.value">
		{{ml.label}}
	</md-option>
</md-select>
<!-- TODO: add needed if haven't had iron yet today and disable if we have administered-->
<md-checkbox [(ngModel)]="feeding.iron" [disabled]="!ironNeeded" [ngClass]="{administered: !ironNeeded}">Iron
	<span class="iron-hint"> - {{ironNeeded ? 'needed' : 'administered'}}</span>
</md-checkbox>
<div>
	<!-- TODO: add todays cumalative total to the prune juice button -->
	<button (click)="addPrunes()" md-raised-button color="primary">Add Prune Juice -
		<span class="prune-hint">(5 mL)</span>
	</button>
	<button [disabled]="!feeding.oral.volume" (click)="done()" md-raised-button color="accent">{{feeding.oral.volume < feeding.goalVolume ? 'Start Gavage' : 'Done'}}</button>
</div>
