@import '~Styles/vars';

:host {
	position       : relative;

	display        : flex;
	flex-direction : column;

	width          : 100%;
	height         : 100%;
	min-height     : calc(100vh - 200px);
	margin         : 100px 0;

	text-align     : center;

	justify-content: space-between;
	align-items    : center;
}

md-select {
	width: 80%;
}

md-checkbox {
	position: relative;

	&.administered {
		color: $color-disabled;

		&::after {
			@include offset-absolute(left -16px bottom calc(50% - 2px));

			content      : '';
			width        : calc(100% + 32px);
			height       : 100%;
			border-bottom: solid 2px $color-disabled;
		}

		.iron-hint {
			color: $color-disabled;
		}
	}

	.iron-hint {
		color: $color-warn;
	}
}

.details-container {
	width    : 100%;
	font-size: 20px;

	.day-total,
	.recommended-dose {
		margin         : 8px 0;
		width          : 100%;
		display        : flex;
		padding        : 0 10%;
		justify-content: space-between;
	}
}

.button-container {
	display: flex;
	width  : 100%;
	padding: 0 10%;

	button {
		flex-grow   : 1;
		margin-right: 16px;

		&:last-child {
			margin: 0 0 0 16px;
		}
	}
}
