
// =============================================================================
// Absolute Width
// =============================================================================
@mixin absolute-width($width) {
	max-width: #{$width};
	min-width: #{$width};
	width    : #{$width};
}
